<!DOCTYPE html>

<html>

<head>
    <title> School Activities </title>
    <meta charset="utf-8"/>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="start.css">
</head>

<body>
    <div class="signup">
        <h2>Sign Up</h2>
        <form id="signupForm">
            <label for="username">Username: </label>
            <input required type="text" id="username" v-model="username"> <br>
            <label for="password">Password: </label>
            <input required type="password" id="password" v-model="password"> <br>
            <input type="submit" v-on:click='onSubmit'>
        </form>
    </div>

    <div class="login">
        <h2>Log In</h2>
        <form id="loginForm">
            <label for="userName">Username:</label>
            <input required type="text" id="userName" v-model="userName"> <br>
            <label for="passWord">Password:</label>
            <input required type="password" id="passWord" v-model="passWord"> <br>
            <input type="submit" v-on:click='onSubmit'>
        </form>
    </div>

    <div class="proceed">
        <button class=button3 onclick="proceed()">Proceed to Website</button>
    </div>

    <div class="imgbox">
        <img class="center-fit" src="basketball.jpg">
    </div>

    <script src="login.js"></script>
</body>

</html>
